<!DOCTYPE html>
<html ng-app="softvinho">
<head>
	<meta charset="UTF-8">
	<title>Clientes</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="css/ui.css">
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<script src="lib/angular/angular-locale_pt-br.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/cadastroClienteCtrl.js"></script>
	<script src="js/services/clientesAPIService.js"></script>
	<script src="js/services/freteAPIService.js"></script>
	<script src="js/value/configValue.js"></script>
	<script src="js/filters/ellipsisFilter.js"></script>
	<script src="js/directives/uiAlertDirective.js"></script>
	<script src="js/directives/uiAccordionDirective.js"></script>
</head>
<body ng-controller="cadastroClienteCtrl">
	<div class="jumbotron">

		<h3 ng-bind="app"></h3>
		<form name="clienteForm">
			<div class="input-group">
				<input style="width:20%" ng-show="cliente.id" disabled class="form-control" type="text" ng-model="cliente.id" placeholder="Id"/>
				<input style="width:80%" name="nome" class="form-control" type="text" ng-model="cliente.nome" placeholder="Nome" ng-required="true" ng-minlength="3"/>
			</div>
			<!-- para usar data
			<input name="data" class="form-control" type="text" ng-model="cliente.data" placeholder="Data" ui-date/>
			-->
		</form>

		<div ng-messages="clienteForm.nome.$error" ng-show="clienteForm.$dirty">
			<div ng-message="required" class="alert alert-danger">
				Preencha o nome!
			</div>
			<div ng-message="minlength" class="alert alert-warning">
				O nome deve ter no mínimo três caracteres!
			</div>
		</div>
		
		<button name="btnSalvar" class="btn btn-primary btn-sm"   ng-disabled="clienteForm.$invalid" ng-click="salvarCliente(cliente)">Salvar Cadastro do Cliente</button>
		<button name="btnLimpar" class="btn btn-secundary btn-sm" ng-disabled="false" ng-show="cliente.id" ng-click="limparCadastro()">Limpar Formulário</button>
		
		<hr/>

		<ui-alert title="Ops, aconteceu um problema!" ng-show="message">
			{{message}}
		</ui-alert>

		<div ng-show="clientes.length>0">
			<input class="form-control" type="text" ng-model="pesquisa" placeholder="O que você está buscando?"/>
			<table class="table table-striped">
				<tr>
					<th></th>
					<th><a href="" ng-click="ordenarPor('if')">Id.</a></th>
					<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
				</tr>
				<tr style="text-align: left;" ng-repeat="c in clientes | filter:pesquisa | orderBy:campoOrdenacao:inverterOrdem">
					<td style="width: 120px;">
						<button class="btn btn-danger btn-sm" ng-click="removerCliente(c)">X</button>
						<button class="btn btn- btn-sm btn-link" ng-click="editarCliente(c)">Edit</button>
					</td>
					<td ng-bind="c.id" style="width: 80px;"></td>
					<td ng-bind="c.nome | ellipsis:30"></td>
				</tr>
			</table>		
		</div>
	
		<ui-accordions>
			<ui-accordion title="Accordion 1">
				Aqui o conteúdo do accordion 1
			</ui-accordion>
			<ui-accordion title="Accordion 2">
				Aqui o conteúdo do accordion 2
			</ui-accordion>
		</ui-accordions>

	</div>

	<!-- nao funciona no chrome com o protocolo file-->
	<div ng-include="'view/footer.html'"></div>
</body>
</html>