<div class="card-deck">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">CLIENTES</h3>
        <p class="card-text">Visualize a lista de clientes cadastrados, inclua novos, altere ou remova cadastros.</p>
        <a href="#!/clientes" class="btn btn-primary">Ir para clientes</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">VINHOS</h3>
        <p class="card-text">Visualize a lista de vinhos cadastrados, inclua novos, altere ou remova cadastros.</p>
        <a href="#!/vinhos" class="btn btn-primary">Ir para vinhos</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">VENDAS</h3>
        <p class="card-text">Efetue vendas de vinhos para clintes, consulte as vendas já feitas, com opção para exclusão.</p>
        <a href="#!/vendas" class="btn btn-primary">Ir para vendas</a>
      </div>
    </div>
  </div>
</div>