<div class="jumbotron" style="width: 800px;" ng-controller="cadastroVendaCtrl">
	<h4>Cadastro de Vendas</h4>
	
	<form name="itemForm">
		<select name="vinho" class="form-control" ng-model="item.vinho" ng-options="vinho.nome+' - '+(vinho.precoSugerido | currency)+' - '+(vinho.peso | number)+'kg' for vinho in vinhos" ng-required="true" ng-change="vinhoSelecionado(item.vinho)">
			<option value="">Selecione um vinho</option>
		</select>
		<div class="input-group">
			<input name="quantidade" class="form-control" ng-model="item.quantidade" ng-required="true" type="number" step="1" min="0" placeholder="Quantidade"/>
			<input style="margin-left:5px;" name="precoSugerido" class="form-control" type="text" ng-model="item.valorUnitario" placeholder="Valor Unitário" ng-required="true" ng-currency="" min="0.01" hard-cap="true" onclick="this.setSelectionRange(0, this.value.length)"/>
			<input style="margin-left:5px;" name="peso" class="form-control" ng-model="item.pesoVinho" ng-required="true" type="number" step="0.001" min="0.000" placeholder="Peso (kg)"/>
		</div>	
	</form>
	<button name="btnAddItem" class="btn btn-primary btn-sm"   ng-disabled="itemForm.$invalid" ng-click="incluirItem(item)">Adicionar item</button>
	<button name="btnLimparItem" class="btn btn-secundary btn-sm" ng-disabled="false" ng-click="limparItem()">Limpar item</button>
	
	<table class="table table-striped" ng-show="venda.itens.length>0">
		<tr>
			<th></th>
			<th>Vinho</th>
			<th>Peso</th>
			<th>Qtde.</th>
			<th>Vl.Unit</th>
		</tr>
		<tr style="text-align: left;" ng-repeat="i in venda.itens">
			<td style="width: 65px; margin: 0;">
				<button class="btn btn-sm btn-danger" ng-click="removerItem(i)">X</button>
			</td>
			<td ng-bind="i.vinho.nome"></td>
			<td ng-bind="i.pesoVinho | number" style="width: 80px;"></td>
			<td ng-bind="i.quantidade | number" style="width: 80px;"></td>
			<td ng-bind="i.valorUnitario | currency" style="width: 80px;"></td>		
		</tr>
	</table>

	<hr/>

	<form name="vendaForm">
		<select name="cliente" class="form-control" ng-model="venda.cliente" ng-options="cliente.nome for cliente in clientes" ng-required="true">
			<option value="">Selecione um cliente</option>
		</select>
		<input name="distancia" class="form-control" ng-model="venda.distancia" ng-required="true" type="number" step="1" min="0" placeholder="Distância(km)"/>
			
	</form>

	<div ng-messages="vendaForm.distancia.$error" ng-show="vendaForm.$dirty">
		<div ng-message="required" class="alert alert-danger">
			Informe a distância!
		</div>
	</div>
	
	<button name="btnSalvar" class="btn btn-primary btn-sm"   ng-disabled="vendaForm.$invalid" ng-click="salvarVenda(venda)">Registrar Venda</button>
	<button name="btnLimpar" class="btn btn-secundary btn-sm" ng-disabled="false" ng-click="limparCadastro()">Limpar Campos</button>
	
	<hr/>

	<ui-alert title="Ops, aconteceu um problema!" ng-show="message">
		{{message}}
	</ui-alert>

	<div ng-show="vendas.length>0">

		<ui-accordions>
			<ui-accordion title="{{v.id}} - {{v.dataVenda | date:'dd/MM/yyyy HH:MM'}} - itens: {{v.totalItens | currency}} + frete: {{v.totalFrete | currency}} = {{v.totalGeral | currency}} / {{v.pesoTotal | number}}kg" ng-repeat="v in vendas">
				<button class="btn btn-sm btn-danger" ng-click="removerVenda(v)">Remover venda</button>
				{{v.cliente.nome}} - Distância: {{v.distancia | number}} km
				<table class="table table-striped">
					<tr>
						<th>Id.</th>
						<th>Vinho</th>
						<th>Qtde.</th>
						<th>Vl.Unit</th>
						<th>Total</th>
						<th style="width: 110px;">Peso Total</th>
					</tr>
					<tr style="text-align: left;" ng-repeat="i in v.itens">
						<td ng-bind="i.id" style="width: 50px;"></td>
						<td ng-bind="i.vinho.nome"></td>
						<td ng-bind="i.quantidade | number" style="width: 70px;"></td>
						<td ng-bind="i.valorUnitario | currency" style="width: 90px;"></td>
						<td ng-bind="i.totalItem | currency" style="width: 90px;"></td>
						<td style="width: 90px;">{{i.pesoTotalItem | number}}kg</td>
					</tr>
				</table>
			</ui-accordion>
		</ui-accordions>		
	</div>

</div>